/* tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    /* evaluate  */
    .evaluate {
        margin-top: 100px;
    }

    /* tradermark */
    .tradermark__item {
        flex-basis: 30%;
    }

    /* footer */
    .footer__btn {
        margin-top: 0;
        padding: 8px 24px;
    }

    .footer__title--heading {
        line-height: 1.3;
    }
    .container__products {
        cursor: pointer;
        flex-direction:column;
        display: flex;
        margin-top: 8px;
        position: relative;
        box-shadow: 0 0 3px rgb(0 0 0 / 40%);
        margin-bottom: auto;
    }
}

/* Tablet & Mobile */
@media (max-width: 1023px) {
    .s-m-mt-16 {
        margin-top: 16px;
    }

    /* Collection */
    .collection__content, .cartproduct__content {
        display: block;
        padding: 12px;
    }

    .collection__item-info,.cartproduct__item-info {
        padding: 0;
        margin-top: 24px;
    }

    .collection__suggestions {
        overflow-x: auto;
        display: flex;
        justify-content: space-between;
    }

    .collection__suggestions-container {
        flex-shrink: 0;
        width: 320px;
        display: flex;
        align-items: center;
    }

    .collection-shoes img {
        width: 100%;
    }

    .collection__app {
        border: 1px solid #eee;
        margin-top: 8px;
    }

    /* box__contact */
    .box__contact {
        position: relative;
        right: 0;
        left: 0;
        bottom: 0;
        border-top-left-radius: unset;
    }

    .box__contact::before {
        display: none;
    }

    .box__seclecter {
        flex-basis: 6%;
    }

    .active-top {
        bottom: 60px;
        right: 0;
    }
    .container__products {
        cursor: pointer;
        flex-direction:column;
        display: flex;
        margin-top: 8px;
        position: relative;
        box-shadow: 0 0 3px rgb(0 0 0 / 40%);
        margin-bottom: auto;
    }
}

/* Mobile */
@media (max-width: 739px) {
    .s-hidden {
        display: none;
    }

    .s-mt-16 {
        margin-top: 16px;
    }

    .nav {
        justify-content: space-around;
    }

    .navbar {
        overflow-y: auto;
    }

    .policy__item {
        width: 240px;
    }

    .brands-five__item {
        display: block;
        margin: 8px;
    }

    .brands__five--link {
        display: block;
    }

    .brands__five--link::before {
        left: 0;
    }

    .tradermark__item {
        flex-basis: 40%;
    }

    .footer__information {
        padding: 0 16px;
    }

    .box__seclecter {
        flex-basis: 10%;
    }

    .active-top {
        bottom: 45px;
        right: 5px;
    }
    .container__products {
        cursor: pointer;
        flex-direction:column;
        display: flex;
        margin-top: 8px;
        position: relative;
        box-shadow: 0 0 3px rgb(0 0 0 / 40%);
        margin-bottom: auto;
    }
    .collection__app {
        border: 1px solid #ccc;
        overflow:scroll;
        
    }
}
.grid {
    width: 100%;
    display: block;
    padding: 0;
}

.grid.wide {
    max-width: 1200px;
    margin: 0 auto;

}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;
}

.row.no-gutters {
    margin-left: 0;
    margin-right: 0;
}
.row.no-gutters:hover {
    cursor: pointer;

}


.col {
    padding-left: 4px;
    padding-right: 4px;
}

.row.no-gutters .col {
    padding-left: 0;
    padding-right: 0;
}

.c-0 {
    display: none;
}

.c-12 {
    flex: 0 0 100%;
    max-width: 100%;
}


@media (min-width: 740px) {
    .row {
        margin-left: -8px;
        margin-right: -8px;
    }

    .col {
        padding-left: 8px;
        padding-right: 8px;
    }

    .m-0 {
        display: none;
    }

    .m-4,
    .m-6,
    .m-12 {
        display: block;
    }

    .m-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .m-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .m-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 1113px) {
    .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .col {
        padding-left: 12px;
        padding-right: 12px;
    }

    .l-0 {
        display: none;
    }

    .l-2-4,
    .l-3,
    .l-4,
    .l-5,
    .l-6,
    .l-7,
    .l-9 {
        display: block;
    }

    .l-2-4 {
        flex: 0 0 20%;
        max-width: 20%;
    }

    .l-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .l-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .l-5 {
        flex: 0 0 41.66667%;
        max-width: 41.66667%;
    }

    .l-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .l-7 {
        flex: 0 0 58.33333%;
        max-width: 58.33333%;
    }

    .l-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

}

@media (min-width: 740px) and (max-width: 1023px) {
    .wide {
        width: 644px;
    }
}

@media (min-width: 1024px) and (max-width: 1239px) {
    .wide {
        width: 984px;
    }

    .wide .row {
        margin-left: -12px;
        margin-right: -12px;
    }

    .wide .col {
        padding-left: 12px;
        padding-right: 12px;
    }

}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}

:root {
    --white-color: #fff;
    --black-color: #000;
    --primary-color: #014c8f;
    --text-color: #4c4c4c;
    --red-color: #d50000;
    --height-header: 80px;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    font-family: 'Quicksand', sans-serif;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.product__item--mt-16 {
    margin-top: 16px;
}

.btn {
    display:inline-block;
    border: none;
    background-color: transparent;
    outline: none;
    text-decoration: none;
    color: var(--white-color);
    padding: 10px 12px;
    font-size: 1.6rem;
    border-radius: 5px;
}

.btn--primary-color {
    background-color: var(--primary-color);
}

.main-effect {
    position: relative;
} 

.main-effect::after,
.main-effect::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-origin: top left;
    transform: scale(0);
    transition: 1.3s;
    z-index: 1;
}

.main-effect::after {
    bottom: 0;
    right: 0;
    transform-origin: bottom right;
}

.main-effect:hover:after,
.main-effect:hover::before {
    background-color: rgba(255, 255, 255, 0.8);
    transform: scale(1);
    opacity: 0;
}

.title-section {
    position: relative;
    text-align: center;
    margin-bottom: 32px;
}

.title-section::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    background-color: var(--primary-color);
    width: 100%;
    height: 3px;
    z-index: -1;
}

.heading-section {
    display: inline-block;
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 10px 30px;
    border-radius: 30px;
    font-size: 2.2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.container__products {
    cursor: pointer;
    flex-direction:column;
    display: flex;
    height: 370px;
    margin-top: 8px;
    position: relative;
    box-shadow: 0 0 3px rgb(0 0 0 / 40%);
    margin-bottom: auto;
}

.container__products:hover{
    transform:scale(1.01)
}
.container__product-img {
    height: 240px;
}

.container__banner {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    animation: fadeIn linear 0.7s;
}
.container__product-banner:hover .container__banner {
    display: block;
    cursor: pointer;
}

.container__banner-img {
    height: 240px;
}

.container__desc {
    padding: 8px 8px 16px;
    text-align: center;
    flex:1;
    display: flex;
    flex-direction:column;

}

.container__product-ultra {
    margin-bottom: 10px;
}

.container__product-name {
    font-size: 1.5rem;
    color: var(--text-color);
    font-weight: 700;
    transition: 0.6s;
    line-height: 1.4;
    text-decoration: none;
    word-wrap:break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.container__product-name:hover {
    color: var(--primary-color);
    cursor: pointer;
}


.container__product--price-sale {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--red-color);
    margin-top: auto;
}

.container__product--main-price {
    font-size: 1.3rem;
    text-decoration: line-through;
}

.container__product--new,
.container__product--hot {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 1.6rem;
    border-bottom-right-radius: 15px;
    background-color: red;
    color: var(--white-color);
    font-weight: 500;
    padding: 4px 8px;
}

.container__product--new {
    background-color: var(--primary-color);
}

.container__product--percent {
    position: absolute;
    top: 20px;
    right: 10px;
    background-color: var(--red-color);
    color: var(--white-color);
    padding: 5px 10px;
    font-size: 1.4rem;
    transform: rotate(-20deg);
    font-weight: 500;
    animation: undulating linear 1s infinite alternate;
}

.container__product--percent::after,
.container__product--percent::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--red-color);
    transform: rotate(30deg);
    z-index: -1;
}

.container__product--percent::after {
    transform: rotate(60deg);
}   

@keyframes undulating {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.15);
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

.mt-8 {
    margin-top: 8px;
}

.mt-32 {
    margin-top: 32px;
}

.no-boxshadow {
    box-shadow: unset;
}

.no-border {
    border: unset;
}
#loading {
    position: fixed;
    display: none;
    top: calc(50% - 60px);
    left: calc(50% - 60px);
    z-index: 9999;
    width: 120px;
    height: 120px;
    overflow: hidden;
}

#loading img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}